THE ROEMANCER<br>
<br>
I’m a roe-mancer;<br>
I can divine from fish eggs’<br>
skeins the future’s currents, and from their color<br>
how the laws will change;<br>
<br>
but what people hear is “romancer,”<br>
think I work with the law of attraction,<br>
so my title attracts those who want right answers<br>
to all the wrong questions:<br>
<br>
“When will I find love?”<br>
“Is it time to sell crypto?”<br>
“How do I buttress<br>
my portfolio’s value?”<br>
<br>
Meanwhile, I’m watching<br>
the fall of empires in a jar of caviar,<br>
breaking into hatcheries<br>
to slice open salmon and read the headlines.<br>
<br>
I can’t go to French restaurants.<br>
Last time, a man’s death omen<br>
quivered and watched me<br>
with twelve eyes from his fork tine.<br>
<br>
It won’t get better.<br>
Roe was just the beginning.<br>
What the roe tells me<br>
is next comes education, the rest of health care;<br>
<br>
what the roe tells me<br>
is new crusaders’ll clink Christ’s blood in glasses<br>
and a young mother’s kid will try to latch<br>
as she tends bar at her own funeral.<br>
<br>
I can stand in rivers and see the end times<br>
if fish eggs graze my legs but<br>
all you want to know is about your stock picks.<br>
Show me your palm, dear.<br>
