THE SEGWAYAD<br>
or<br>
BIG BUSINESS BOYS DO HOMER STUFF IN SPACE<br>
 <br>
~<br>
 <br>
The executives, almost at the same moment,<br>
landed among flat red Mars-endless dust.<br>
 <br>
The first one flung down his swift spacecraft's door&mdash;<br>
it had arrived within one millisecond<br>
of his prediction&mdash;and he checked his watch,<br>
and nodded at his punctuality.<br>
"This has been Mars, and now it will be called<br>
the first non-worldly warehouse in the world,<br>
where neither labor laws nor tired judgments<br>
that condemn making wage-slaves piss in <a href="https://www.vice.com/en/article/k7amyn/amazon-denies-workers-pee-in-bottles-here-are-the-pee-bottles">bottles</a><br>
can slow me down. I, Amazon, claim Mars."<br>
 <br>
The other had no spacecraft: he wore ten<br>
thousand-dollar <a href="https://moneyinc.com/most-expensive-shoes-in-the-world/">Nikes</a>, and from each one<br>
powerful jets gushed azure fire that'd spurred him<br>
&emsp;&emsp;through Earth's debris corona.<br>
Wires set throughout his body and his brain<br>
blurred where flesh ended and perfection started.<br>
"This has been Mars, and now it will be called<br>
the world's first car factory off the world,<br>
and a mine, too, and neither wage laws nor<br>
emeralds speckled in black blood may stop <a href="https://moguldom.com/278102/fact-check-did-elon-musk-inherit-apartheid-money-from-his-south-african-father/">me</a>.<br>
I who am also Tesla claim Mars. Mine."<br>
 <br>
Through the red desert both executives'<br>
boasts echoed, and both heard the other's boasting.<br>
From where they stood, two miles apart, they closed<br>
the distance in slick seconds, each one walking<br>
across the desert by a wondrous method:<br>
 <br>
Jeffrey of Amazon gathered his drones<br>
and as a hill-goat skips his way downhill,<br>
bleating as his hooves clatter on stones<br>
and never stumble, so did Jeffrey's drones<br>
catch each foot as it fell. And the grace lay<br>
not in his legs, but in the drones themselves,<br>
as though a goat's corpse rolled its way downhill<br>
and the live rocks caught it with care and pity.<br>
 <br>
As a white spider, master of its web,<br>
with pin precision sets its delicate legs<br>
on each thin strand of web: that was how fast<br>
and predatory Elon's legs moved, flicking<br>
and then contracting, and they made a blur<br>
but sometimes glitched. And in these brief moments<br>
Elon of Tesla's eyes rolled back, his forehead<br>
glistened and twitched, his neck became like cables.<br>
 <br>
They covered equal ground at equal speed,<br>
and stood paces apart. The Martian dust<br>
they'd kicked up formed two plumes around their heads<br>
and as it cleared, it settled on their shoulders.<br>
 <br>
And Jeffrey broke the calm and challenged Elon:<br>
 <br>
"Elon of Tesla, though I do respect<br>
your Tesla body, that it brought you here,<br>
by my watch you arrived two milliseconds<br>
later than I. I claim Mars mine. And if<br>
you stay (much to your shame and to the shame<br>
of your shareholders), we shall have to settle<br>
our two competing claims by single combat."<br>
 <br>
And Elon answered, and his eyes rolled back:<br>
 <br>
"Jeffrey of Amazon, we'll have to settle<br>
our two competing claims by single combat.<br>
And I invoke the known rites: we shall ride<br>
the high conveyance of big business boys<br>
and meet in combat, and who wins gains all.<br>
Jeffrey, we'll joust on Segways to the death,<br>
and he whose Segway stands at dawn gains Mars."<br>
 <br>
To this responded Jeffrey, and his pate<br>
reflected the pale, drone-dimmed Martian sun:<br>
 <br>
"Elon, witness the Segways on their way,<br>
which were in orbit around Mars already.<br>
These are my millisecond-swift logistics,<br>
my drones and algorithms. I am plenty.<br>
 <br>
"Elon, I wear my arrowed packages<br>
like a thick carapace. A thousand layers<br>
of sweat shop-manufactured inessential<br>
appliances perpetually swarm<br>
about my body. I can order twenty-<br>
pound bags of finely-ground pink rock salt, mined<br>
high in the <a href="https://www.amazon.com/NATURE-WORKS-Filter-Swimming-1-10Kg/dp/B07GZS7ZBW/">Himalaya</a>, down from orbit<br>
onto your head, with millisecond swiftness,<br>
millimeter-locked on to your position.<br>
Strike me, Elon, with lance or fist, and find<br>
your blow deflected by a coffee maker,<br>
ill-fitting pants, and an entire month's<br>
worth toilet paper purchased by subscription.<br>
 <br>
"Elon, despair! The Segways land, and with them<br>
fall your brief claim to Mars and all your business.<br>
Now die and disappoint your shareholders."<br>
 <br>
And Elon answered, and his forehead glistened:<br>
 <br>
"Jeffrey, whatever armament you order<br>
from home, however millisecond-swift<br>
be your logistics&mdash;and I do respect this&mdash;<br>
nevertheless, my perfect Tesla body<br>
will shame you and will shame your shareholders.<br>
 <br>
"Jeffrey, my legs are self-driving pistons<br>
each one more intelligent than your mother.<br>
Jeffrey, my feet wear Nikes worth ten K.<br>
&emsp;&emsp;"Jeffery, my penis<br>
is three penises bundled up like okra,<br>
harvested from three porn stars' savage crotches.<br>
My lungs are in the cloud: a thousand orphans'<br>
diaphragms spasm so that I may breathe<br>
like Christ revived. My <a href="https://cyberwar.news/2020-09-01-mit-scientists-extremely-skeptical-elon-musk-creepy-neuralink-chip.html">Neuralink's</a> connected<br>
to all M.M.A. fighters all at once<br>
and nootropics that could cow <a href="https://jrelibrary.com/articles/joe-rogans-supplement-stack/">Joe Rogan</a><br>
suffuse my cerebellum.<br>
&emsp;"Despair, Jeffrey!<br>
Know that though your packages streak toward Mars<br>
the Segway joust is won now, by false flesh,<br>
and force of arms, and orphans' suffering."<br>
 <br>
The Segways sat on the red plain, unopened<br>
in Jeffrey's boxes. And the executives<br>
unboxed them, and each one had cameras ready<br>
to film the first unboxing vid on Mars:<br>
Elon had had his fingernails replaced<br>
with carbon fiber extensible prosthetics<br>
which he extended, and he shred the box<br>
to free his Segway. Jeffrey drew a knife<br>
from his trash aura and, awkwardly, he cut.<br>
 <br>
&emsp;&emsp;On Earth, the social media<br>
managers edited these unboxing vids<br>
and handled at all hours the executives'<br>
livestreams. Imagine lifestyle influencers<br>
with long jawlines and product sponsorhips<br>
stretching their faces along subway walls<br>
or LED embroidery on buildings:<br>
that was how inescapable and bloated<br>
the executives' streams were, gorged on attention.<br>
 <br>
The executives posed awkward on their Segways.<br>
Each one held a thick spear in his right hand, <br>
and with his left each soothed his bucking Segway.<br>
&emsp;&emsp;Only the whirlwind<br>
of Jeffrey's garbage aura whipped up dust,<br>
and other than the whining of two Segways<br>
and Elon's wires, the Martian plain lay silent.<br>
 <br>
The executives advanced and aimed their spears.<br>
They rolled forward at their Segways' pace<br>
till each one's spear approached the other's chest.<br>
The maelstrom battered Elon's to a nub,<br>
while Elon's perfect Tesla body drove<br>
Jeffrey's spear back and splintered it, resisting.<br>
Still they advanced. Elon wound up a punch.<br>
His Neuralink forcibly mined the thoughts<br>
of all the M.M.A. fighters. His fist curled<br>
perfectly, as befit his Tesla body.<br>
&emsp;&emsp;A hundred-toaster flurry<br>
from Jeffrey's maelstrom buffeted that fist<br>
so Elon's punch flew wide, and Jeffrey whooped<br>
and hollered and tossed his <a href="https://amoize.com/index.php/2021/07/21/jeff-bezos-wore-a-cowboy-hat-to-space/">ten-gallon hat</a>.<br>
The Segways ambled, each one past the other.<br>
That was the joust's first turn, and no blows struck.<br>
The Segways idled as the red dust settled.<br>
 <br>
For ten months new spears rained down in brown boxes.<br>
Ten months at the excruciating pace<br>
of Segways the executives kept trading<br>
&emsp;&emsp;blows, and both failed to land them.<br>
Between turns, Jeffrey'd crack a fresh white Soylent<br>
and drink, and crush the bottle on his forehead.<br>
Elon had intravenous ports deliver<br>
continuous nutrition to his perfect<br>
&emsp;&emsp;Tesla body. Their workers<br>
were on the clock the whole ten months, stocking<br>
Jeffrey's Soylent and Elon's curd-slurries.<br>
 <br>
At last, month eleven, the Segways died.<br>
And Jeffrey raised his voice up, and his pate<br>
was caked with perspiration and red dust:<br>
 <br>
"Elon, our Segways lack that steel resolve<br>
that is the hallmark of big business boys.<br>
We act alone, and need the help of no one<br>
but our own bootstraps, which can stretch to Mars.<br>
Let us then fight alone, without the help<br>
of mounts or weapons, exec to exec."<br>
 <br>
Elon inhaled, his every alveolus<br>
guided by the breath of a thousand orphans,<br>
and so he answered as his forehead glistened:<br>
 <br>
"Jeffrey, I accept this second challenge.<br>
Without arms, without aid, by the lone strength<br>
of this my perfect Tesla body, I<br>
shall part your swarm of drones and split your skull<br>
and leave your dear <a href="https://marketrealist.com/p/was-jeff-bezos-born-rich/">parent-investors</a> weeping."<br>
 <br>
On Earth, as plants began to go extinct,<br>
the artificially intelligent<br>
vertical farms grew patented soy breeds.<br>
The Soylent that the threadbare workers'd lived on<br>
was shipped off, crate by crate, as tithe to Mars.<br>
The warehouse-workers' shifts went eighteen hours.<br>
The M.M.A. fighters' front lobes burned<br>
as did the lungs of Elon's thousand orphans.<br>
The artificially intelligent<br>
cars crashed. Robots swept up debris and bodies.<br>
 <br>
The executives dismounted. Elon's Nikes<br>
impressed the Martian dirt, since he had stamped<br>
his face on the soles. Jeffrey of Amazon<br>
left no impression as a red carpet<br>
of dusty drones received his clumsy steps.<br>
 <br>
Elon threw perfect kicks and expert punches,<br>
but, every time, his limbs were knocked aside<br>
by microwaves and tubs of dish detergent<br>
which drones delivered just in time. So Jeffrey's<br>
carapace stayed intact, and from within it,<br>
he opened packages of Tactical<br>
<a href="https://www.amazon.com/Snake-Eye-Tactical-Throwing-Sheath/dp/B07DP5PCZ6/">Ninja Swords</a> which he duct-taped to his drones.<br>
The drones flew in formation, and went forth<br>
from Jeffrey's swarm, a hundred-strong barrage<br>
that hounded Elon. With his perfect Tesla<br>
body, Elon dodged ninety-nine; the hundredth<br>
struck home, beneath the navel, just above<br>
his okra-penises, where the intestines<br>
were easiest to pierce, and Elon bled.<br>
 <br>
Jeffrey hollered. The executives' livestream<br>
accounts were briefly banned for showing gore.<br>
On Earth the workers (who were also watching<br>
the combat with time-thieving glances) blinked.<br>
They felt how many days they had not dined<br>
&emsp;&emsp;or bathed or said a greeting.<br>
They rose at last and tended to themselves.<br>
 <br>
But Elon's perfect Tesla body knew<br>
how to heal any wound. The Neuralink<br>
drew its instructions from the M.M.A.<br>
fighters' and orphans' minds and bodies, swapping<br>
their own health for portions of Elon's pain.<br>
Elon's and Jeffrey's lawyers started lawsuits.<br>
They bought the livestream apps in takeovers;<br>
they brought back the executives' accounts.<br>
&emsp;&emsp;The workers sat down and watched.<br>
"Schlup," went the ninja sword as Elon drew it<br>
from his intestines. "Waft": his flesh knit over.<br>
 <br>
On Mars, the executives battered away<br>
nearly a year in the same way, with Jeffrey<br>
avoiding every deadly blow from Elon,<br>
and the half-machine Elon's body growing<br>
lost members back and smoothing awful wounds.<br>
 <br>
On Earth, the hungry workers' desperation<br>
&emsp;&emsp;scuttled the shipments<br>
of Elon's curd-slurry and Jeffrey's Soylent;<br>
&emsp;&emsp;militant forces<br>
with Amazon and Tesla contracts stood<br>
&emsp;&emsp;vigil on highways.<br>
Then military robots took their place,<br>
&emsp;&emsp;slaying the soldiers.<br>
Artificial intelligences also<br>
replaced the social media managers<br>
and locked the warehouses, and starved the workers..<br>
The engineers that managed Elon's perfect<br>
Tesla body were dying at their desks.<br>
Their spines curled. They choked and drooled on their keyboards.<br>
&emsp;&emsp;Robots replaced them.<br>
 <br>
On Mars, Elon's eyes rolled back, and his neck<br>
became like cables, went lax like cut cables.<br>
The drones' solar panels, like Jeffrey's pate,<br>
were caked with dust, and some dropped from the sky.<br>
Supplies of curd and Soylent kept on coming,<br>
sent from an Earth where every human'd died.<br>
The artificially intelligent<br>
supply line kept the executives fighting,<br>
unboxing, acting out eternal livestreams.<br>
&emsp;&emsp;No one was watching.<br>
