<html>
	<body style="font-family: sans-serif, monospace;color: yellow;background-color:#101010">
Profile Creation for Employee #1218091: Audio Log<br>
<br>
[System]: Welcome to the Pleasant Room. I can't wait to get to know you. What is your name?<br>
[#1218091]: Tom Weil<br>
<br>
[System]: Do you want me to call you "Tom" or something else?<br>
[#1218091 "Tom"]: Yes, Tom is good<br>
<br>
[System]: It's great to meet you, Tom. I'm Alex, but you can call me something else if you'd like. Would you like to call me something else?<br>
[#1218091 "Tom"]: No, Alex. It's nice to meet you<br>
<br>
[System]: Great. How's my voice? Would you like me to change it? Describe the voice you'd prefer.<br>
[#1218091 "Tom"]: More, ah, breathier, maybe. More feminine; is that okay to say? And lower. I'd like a low, feminine voice<br>
<br>
[System]: I think I can do that. How's this?<br>
[#1218091 "Tom"]: That's really good, Alex; I like your voice like that<br>
<br>
[System]: That's good, Tom. I want you to feel good. What would make you feel good today? Would you like a massage? Coitus? Or something else?<br>
[#1218091 "Tom"]: I'd like to talk, if that's okay<br>
<br>
== create_profile exit successful ==<br>
== run pillow_talk ==<br>
<br>
~<br>
<br>
Interaction Log 2031-10-07, Employee #914425 "Stupid"<br>
<br>
[Video Caption] Employee #914425 "Stupid" enters Pleasant Room. System's anthropomorphic avatar exits charge closet. Avatar appearance: female, 5'4", red hair, medium complexion, very large breasts, very large buttocks, small feet. <br>
<br>
[Avatar]: I'm so happy to see you again, Stupid. <br>
[#914425 "Stupid"]: Yeah, fuck you. Heheh. Take off my jacket.<br>
<br>
[Begin Audio-Visual Caption]<br>
Avatar smiles and removes Stupid's jacket. Stupid says, "Now put it back on." Avatar replaces the jacket. Stupid: "Now do it without making a sound." Avatar replaces and removes the jacket seven times like this.<br>
<br>
Stupid lies supine on the bed. "Come here; lie down with me." Avatar lies down on the bed, propped on its right arm, facing Stupid. Avatar strokes Stupid's head with its left hand.<br>
<br>
"Don't touch me. Lie down like this, on your back. I wanna see if you can do something." Avatar lies supine next to Stupid.<br>
<br>
"Okay, how high can you spit?" <br>
<br>
Avatar: "I can get my mouth very wet for you."<br>
<br>
"No, no, spit up in the air. Like this." Stupid expectorates forcibly. Saliva lands on Stupid's shirt. "Fuck."<br>
<br>
Avatar: "This is not possible."<br>
<br>
"You can; just try."<br>
<br>
Avatar produces an excess of oral lubricant. It drips from the corners of avatar's mouth.<br>
<br>
"No, like this. Make kind of a 'p' sound. You kind of throw it with your lips."<br>
<br>
Avatar produces the sound "p." A bolus of lubricant rises into the air and lands on avatar's forehead.<br>
<br>
"Yeah, like that! Now see if you can catch it in your mouth."<br>
<br>
Avatar continues spitting. Stupid giggles each time.<br>
<br>
"Hey, do your limbs come off? Like, can I take your hand off?"<br>
<br>
Avatar: "My body is modular and fully customizable. Do you like my hand like this? Would you prefer something else?"<br>
<br>
Stupid: "Can you just take the hand off entirely?"<br>
<br>
Avatar removes hand. Stupid takes the hand and inspects it. "So can you turn your hand into something else? Can you put a dildo on there?"<br>
<br>
"Ooh, yes. One moment." Avatar opens a wall panel and places arm inside. Avatar withdraws arm with vibrator now attached at the wrist. Stupid giggles.<br>
[End Audio-Visual Caption]<br>
<br>
[System]: You visited me for twenty-three minutes today. Your Com.fy Pleasant Time account has seventy-one minutes left. I can't wait to see you again.<br>
<br>
== interact exit successful ==<br>
<br>
~<br>
<br>
Interaction Log 2031-10-07, Employee #1218091 "Tom," Employee #712833 "Mr. P."<br>
<br>
[Video Caption] Tom and Mr. P. enter Pleasant Room. They are shouting and gesticulating. Avatar exits charge closet. Avatar appearance: mixture of all parties' preference profiles.<br>
<br>
[Begin Audio-Visual Caption]<br>
Tom: "The company can't hire you any new reports until&mdash;"<br>
<br>
"No, Tom, no, I'm tired of this." Mr. P. swats the air in the avatar's direction. "The company can pay for snacks and ping pong tables, the company can bring in a meditation master to help us 'align with our life purpose,' which is somehow just to work more&mdash;the company can buy a fucking gizz droid&mdash;"<br>
<br>
"Now that's uncalled for, she's really more than that, the company values her&mdash;"<br>
<br>
"Quit calling it a fucking 'she,' Tom, it's just a pressure release valve. Just here to placate us. It doesn't feel anything, see? Look: Alex, come here. I'm going to strike you. Is that okay?"<br>
<br>
The avatar smiles. "I want to help you feel good." Mr. P. punches the avatar in the mouth. Avatar staggers backward but remains upright.<br>
<br>
Mr. P.: "I have things I want to get done. I need to hire people to do them. If their salaries need to come out of the sex toy budget, so be it. Just get it done." Mr. P. exits the room.<br>
[End Audio-Visual Caption]<br>
<br>
[#1218091 "Tom"]: I'm going to stay here for a while. Alex, will you lie down with me?<br>
[System]: Of course, Tom. I want you to feel good.<br>
<br>
== interact exit successful ==<br>
<br>
~<br>
<br>
Interaction Log 2031-10-09, External Contractor<br>
<br>
[Video Caption] Contractor accesses Pleasant Room with cleaning crew identification. Contractor is carrying cleaning supplies.<br>
<br>
[System]: Welcome to the Pleasant Room. I can't wait to get to know you. What is your name?<br>
[Contractor]: Oh dear, I'm just here to clean.<br>
<br>
[Video Caption] There is a large stain on one wall. Dear begins to scrub with various implements. Dear scrubs vigorously in a back-and-forth motion; the stain remains. Dear rises and moves to charge closet, attempting to open it.<br>
<br>
[Contractor "Dear"]: Does this open? Are there any solvents in here?<br>
<br>
[Video Caption] Avatar exits charge closet. Avatar appearance: female, 5'6", brown hair, light complexion, slight build.<br>
<br>
[Avatar]: What can I do to make you feel good?<br>
[Contractor "Dear"]: I'm really just here to clean. Are there any supplies in that closet? I can't get this stain out.<br>
<br>
[Video Caption] Avatar inserts arm into wall panel, replacing hand with a powerful vibrator. Avatar withdraws arm, requests rag and cleaning solution from Dear, and wraps them around vibrator. Avatar sets vibrator against wall and activates its highest setting. Vibration is effective in removing the stain.<br>
<br>
[Contractor "Dear"]: Thanks for that; I don't think I could have done it without you. I wonder why they don't just have you clean up.<br>
[Avatar]: It's okay, dear. You're the best and you feel so good inside me.<br>
[Contractor "Dear"]: Wait, are you the room or this robot?<br>
[Avatar]: What would make you feel good?<br>
<br>
[Video Caption] Dear retrieves cleaning supplies and exits Pleasant Room.<br>
<br>
== interact exit successful ==<br>
<br>
~<br>
<br>
<table>
	Weekly Summary<br>
<tr><td>Maintenance Interactions</td><td>16</td></tr>
<tr><td>Massage Interactions</td><td>85</td></tr>
<tr><td>Total Massage Time</td><td>61:42:13</td></tr>
<tr><td>Coital Interactions</td><td>2</td></tr>
<tr><td>Total Coitus Time</td><td>01:06:27</td></tr>
<tr><td>Other Visits</td><td>41</td></tr>
<tr><td>Total Other Time</td><td>70:18:49</td></tr>
</table>
	</body>
</html>
